main {
    text-align: center;
    width: 70%;
    margin: 30px auto;
    word-wrap:break-word;

    line-height:2;
    h4 {
        margin: 20px auto;
    }
    h5 {
        margin: 10px auto;
    }
} 